{% import 'includes/macro.twig' as component %}

{% if session.idVisiteur %}
<div class="header">
    <div class="row vertical-align">
        <div class="col-md-4">
            <h1>
                <img src="{{ component.url('img/logo.jpg') }}" class="img-responsive" 
                     alt="Laboratoire Galaxy-Swiss Bourdin" 
                     title="Laboratoire Galaxy-Swiss Bourdin">
            </h1>
        </div>
        <div class="col-md-8">
            <ul class="nav nav-pills pull-right" role="tablist">
                {{ component.navLink('accueil', '', 'Accueil', 'home', uc) }}
                {% if session.type == 'VISTR' %}
                    {{ component.navLink('gererFrais', 'frais/saisir', 'Renseigner la fiche de frais', 'pencil', uc) }}
                    {{ component.navLink('etatFrais', 'frais/afficher', 'Afficher mes fiches de frais', 'list-alt', uc) }}
                {% else %}
                    {{ component.navLink('validerFrais', 'frais/valider', 'Valider les fiches de frais', 'check', uc) }}
                    {{ component.navLink('suivreFrais', 'frais/suivre', 'Suivre le paiement des fiches de frais', 'eur', uc) }}
                {% endif %}
                {{ component.navLink('deconnexion', 'deconnexion', 'Deconnexion', 'sign-out', uc) }}
            </ul>
        </div>
    </div>
</div>
{% else %}
    <h1>
        <img src="{{ component.url('img/logo.jpg') }}"
             class="img-responsive center-block"
             alt="Laboratoire Galaxy-Swiss Bourdin"
             title="Laboratoire Galaxy-Swiss Bourdin">
    </h1>
{% endif %}